@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');



* { 
    margin: 0;
    padding: 0;

}


:root{
 --cor-primaria-fundo: #0e1014;
 --cor-secudaria-titulo: #9747FF;
 --cor-tercearia-subtitulo: #ffffff;
 --cor-quartaria-botao-primario: #8233e8;
              

}
 
body{
    background-color: var(--cor-primaria-fundo);
    color: var(--cor-tercearia-subtitulo);
}

header{



}

.Texto-titulo{
color: var(--cor-secudaria-titulo);
 font-family: "Unbounded", sans-serif;
 font-size: 64px;
 text-align: center;
 margin-top: 60px;

}


.Texto-titulo2{
    color: var(--cor-tercearia-subtitulo);
     font-family: "Unbounded", sans-serif;
        text-align: center;
        
        
}
.paragrafo{
font-family: "Poppins", sans-serif;
font-size: 24px;
text-align: center;
margin: 24px auto 0;
width: 792px;


}
.botao{
    color: var(--cor-tercearia-subtitulo);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: var(--cor-secudaria-titulo);
    width: 340px;
    height: 66px;
    display:block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
    
}
.botao:hover{
    background-color: var(--cor-quartaria-botao-primario);
}


.celular{
    display: block;
    width: 792px ;
    height: 446px;
    margin: 0 auto;


}
img{ 
    display:block;
    margin: 75px 0 0 360px;

}

@media (max-width: 768px) {

header {
    
    margin: 65px 0 0 30px;


}

.Texto-titulo2 {
    width: 648px;
}


}

@media (max-width: 375px) {

header{
    margin: 32px 0 0 16px;
}
.Texto-titulo {
    font-size: 40px;
    text-align: center;
}
.Texto-titulo2{
   font-size: 20px;
   width: 340px;
   text-align: center;
}
.celular{
 width: 340px;
 height: 230px;

}
.botao{
 font-size: 20px;
 width: 251px;
}

}




